* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f3f3f3;

}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: grey !important;
}

.navbar-default .navbar-brand {
    color: white !important;
}

.navbar-default .navbar-brand:hover {
    color: grey !important;
}

#footer {
    height: 50px;
    /*margin-top: -100px;*/
    position: relative;
    /*position: fixed;*/
    background-color: #204d74;
    color: white;
    text-align: center;
    clear: both;
}

.h6, h6 {
    font-size: 12px !important;
}

.h6, h6:hover {
    color: grey !important;
}

.index-form {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    margin-bottom: 30px;
}

.main-container {
    padding-top: 50px;
    min-height: 100%;
    background-color: #f3f3f3;
}

.index-intro {
    width: 100%;
    background-color: #f3f3f3;
    overflow: auto;
    padding-bottom: 50px;
    height: 100%;
    background-color: #f3f3f3;
}

.index-intro .jumbotron {
    padding: 100px 60px;
    margin: 0px;
    background-image: url('/images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.index-intro .jumbotron h1 {
    font-size: 30px;
    color: #f3f3f3;
}

.index-intro .jumbotron p {
    font-size: 16px;
    color: #f3f3f3;
}

.main-container {
    background-color: #f3f3f3;
}

.index-table {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}

.index-table .table th {
    text-align: center;
}

.index-table .table td {
    text-align: center;
}

.table-container {
    padding-left: 60px;
    padding-right: 60px;
}

#xd {
    padding-left: 120px;
    width: fit-content;
}

.index-intro .div-gallery {
    padding: 20px 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.list-group-item {
    text-align: center;
}

/*Credit card validation*/

.card-grp {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 48%;
    margin-bottom: 15px;
}

.fas fa-user{
    position: absolute;
    bottom: 12px;
    left: 15px;
}